.cupLi {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.coupan {
  height: 300px;
  width: 300px;
}
@media screen and (max-width: 750px) {
  .coupan {
    height: 200px;
    width: 200px;
  }
}
