#orderMain {
  max-width: 800px;
  margin: auto;
}
#orderHeading {
  padding-top: 10px;
}
#orderTable {
  width: 100%;
}

.orderImg {
  background-color: rgb(196, 196, 196);
  height: 150px;
  width: 150px;
  margin: auto;
}
