/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
} */
/* .App {
  background-color: rgb(168, 207, 241);
  max-width: fit-content;
  margin: auto;
  text-align: left;
  padding: 20px 50px;
  line-height: 2rem;
  margin-top: 30px;
} 
/* h6 {
  color: #fc0505;
  font-size: 1rem;
} */
