#signup,
#back {
  background-color: rgb(119, 245, 239);
}
#signup {
  max-width: fit-content;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid rgb(119, 245, 239);
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#backDiv {
  text-align: right;
}
#back {
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(110, 110, 110);
}
p {
  color: rgb(233, 31, 31);
}
